.circular_bg_one{
  fill: none;
}
.circle_bg_two{
  fill: none;
}
.percentage{
  text-anchor: middle;
}
.absolute{
   position: absolute;
}
.total__categories_realtive{
  position: relative;
  top: 10%;
  left: 20%;
}
.total__measurement_realtive{
  position: relative;
  top: 10%;
  left: 60%;
}
.circular_progress_one{
  /* display: flex;  */
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
}