.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.book__name {
  color: gray;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: goldenrod;
}

.dropdown:hover .dropdown-content { display: block; }

.grey__background__two {
  background-color: #f3ecec;
  width: 80.5%;
  margin-left: auto;
  margin-right: auto;

  /* padding: 20px 0 20px 0;
  margin-top: 20px; */
}

/*
.dropdown:hover .dropbtn {background-color: #3e8e41;} */
